.p1{ 
  font-size: large ;
  position: relative;
  left:  1250px;
}



.gallery {
  background-image: url(https://free4kwallpapers.com/uploads/wallpaper-cache/cool-black-backgrounds-1300x0-MM-100.jpg);
  /*  display: grid ;  */
   grid-template-columns: 1fr 1fr 1fr 1fr ;
  padding: 51px;
  position: relative;
  left: 15px;
  border-radius: 2%;
}
 
/*
.imgdiv{
   border: 3px;
   border-style: solid;
    border-radius: 5%;
    border-color: rgb(0, 0, 0);
  
}
*/

.body{
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-color: black;
  background-size: 743px ;
}
.h1{

  
  position: relative;
  left: 200px ;
  top: 40px;

}
.header {
  background-image: url(./New\ Project\ \(1\).jpg) ;
  color: aqua;
  max-height: 108px;
  padding-bottom: 4px; 
  background-repeat: repeat-y ;
  background-size :  1887px 108px  ;
  object-fit:none;
}

.discreptiondiv{
   color: yellow;
padding-top: 20px;
   font-size: large ; 
  
}

.singlediv{
 display:flex; 
 flex-direction: column-reverse;
 
  background-image: url(https://free4kwallpapers.com/uploads/wallpaper-cache/cool-black-backgrounds-1300x0-MM-100.jpg);
  
  padding: 51px;
  position: relative;
  left: 15px;
  border-radius: 2%;
  word-wrap: initial;
} 

.favbutton{
  font-size: large;
    font-weight: bold;
    background: linear-gradient(to right, #bd7e68, #549cc9, #7a7dd9);
    border-radius: 4px;
    padding: 10px;
    color: rgb(16, 16, 5);
    margin: 6px;
}

.likebutton{
position: relative;
top: 300px;
left: 200px; 

width: 200px;

  font-size: large;
    font-weight: bold;
    background: linear-gradient(to right, #ddbeb4, #0b4fee, #7ad4d9);
    border-radius: 20px;
    padding: 10px;
    color: rgb(16, 16, 5);
    margin: 6px;
}
.dislikebutton{
  position: relative;
top: 300px;
left: 850px; 

width: 200px;

  font-size: large;
    font-weight: bold;
    background: linear-gradient(to right, #ef997d, #e360f2, #7ad4d9);
    border-radius: 20px;
    padding: 10px;
    color: rgb(16, 16, 5);
    margin: 6px;
}